.article, .project{
   .article-header{
      padding: 5rem 0 3rem;
      .article-title{
         font-size: 2.6666rem;
         text-transform: capitalize;
         letter-spacing: 0px;
         margin-bottom: 1.1255rem;
         font-weight: 700;
         line-height: 1.44;

         @include mediaq($md){
            font-size: 1.8989rem;
         }
      }
      .lead{
         letter-spacing: 1px;
         font-style: italic;
         margin-bottom: 0;
      }
   }

   .thumbnail{
      min-height: 15rem;
      background: #e6e6e6;
     img{
        width: 100%;
        max-width: 100%;
     }
   }

   .article-meta{
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
      padding-bottom: 1rem;
      font-size: .95rem;
      letter-spacing: 1px;
      border-bottom: 3px solid #eee;
      color: #999;
      padding-top: 1rem;
   }
}

// markdown css github 
.article-content{
   margin-bottom: 3rem;

   p{
      margin-bottom: 1.5rem;
      font-size: 1.025rem;
      color: $dark; line-height: 1.7; letter-spacing: 1px;
      > img {
         margin-bottom: 0;
      }

      // &:first-of-type{
      //    font-size: 1.125rem;    
      //    color: lighten($dark, 20);
      //    margin-bottom: 3rem;
      // }
}
   h1{
      margin-bottom: 1.5rem;
   }
   h1,
   h2,
   h3,h4, h5 {
      font-weight: 600;
   margin-bottom: 1.255rem;
      &:not(:first-child){
         margin-top: 1rem;
      }
   }
   img{
      margin-bottom: 1.5rem;
   }

   blockquote {
      border-left: 8px solid darken($primary, 5);
      background-color: rgba($primary, .2);
      padding: 1.777rem 1rem;
      margin: 2.666rem auto;
      position: relative;
      &::after{
         content: "";
         width: 4rem;
         height: 4rem;
         right: 0;
         opacity: .155;
         top: -.25rem;
         mix-blend-mode: color-burn;
         position: absolute;
         background-repeat: no-repeat;
         background-size: contain;
         background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" class="bi bi-chat-square-quote" viewBox="0 0 16 16"><path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/></svg>');
      }
      & > p {
         font-size: 1.25rem;
         margin-bottom: 0;
         color: darken($accent, 45);

      }
   }
   
   pre,
   code {
      background-color: #f3f3f7;
   }
   pre {
      padding: .5rem;
      line-height: 1.25;
      overflow-x: scroll;
    }
    img,
   canvas,
   iframe,
   video,
   svg,
   select,
   textarea {
   max-width: 100%;
   }

   & + .conclusion{
      margin-bottom: 3rem;

      & > .alert p{
         margin-bottom: 0;
         font-size: 1.1025rem;
         letter-spacing: 0px;
      }
   }

   & + .conclusion + .category{
      display: flex;

     
   }

   ul{
      list-style: square;
      li{
         margin-bottom: 0.125rem;
         font-size: 1.025rem;
         color: $dark;
         letter-spacing: 1px;
      }
   }

}