.article, .project{
   .article-header{
      padding: 5rem 0 3rem;
      .article-title{
         font-size: 2.6666rem;
         text-transform: capitalize;
         letter-spacing: 0px;
         margin-bottom: 1.1255rem;
         font-weight: 700;
      }
      .lead{
         color: #999;
         letter-spacing: 1px;
         font-style: italic;
         margin-bottom: 0;
      }
   }

   .thumbnail{
      width: 100%;
     img{
        max-width: 100%;
     }
   }

   .article-meta{
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
      padding-bottom: 1rem;
      font-size: .95rem;
      letter-spacing: 1px;
      border-bottom: 3px solid #eee;
      color: #999;
      padding-top: 1rem;
   }
}

// markdown css github 
.article-content{
   margin-bottom: 6rem;
   p{margin-bottom: 1.5rem;
      font-size: 1rem;
   color: #565757;line-height: 1.75; letter-spacing: 1px;
> img {
   margin-bottom: 0;
}}
   
   h1,
   h2,
   h3 {
      font-weight: 600;
   margin-bottom: 1.255rem;
   }
   img{
      margin-bottom: 1.5rem;
   }
   blockquote {
      border-left: 8px solid #fafafa;
      padding: 1rem;
   }
   
   pre,
   code {
      background-color: #fafafa;
   }
   pre {
      padding: .5rem;
      line-height: 1.25;
      overflow-x: scroll;
    }
    img,
   canvas,
   iframe,
   video,
   svg,
   select,
   textarea {
   max-width: 100%;
   }

   & + .conclusion{
      margin-bottom: 3rem;
   }

   & + .conclusion + .category{
      display: flex;
      .nes-badge{
         margin-right: 2rem;
         width: auto;
         min-width: 7rem;
         font-size: 13px;
      }
   }
}