nav.navbar{
    backdrop-filter: blur(10px);
    transition: 0.3s ease;
    &.bg-danger{
        h3.text-white{
            color: #2b0f54 !important;
        }

        .nav-link{
            color: #2b0f54cc;

            &:hover{
                color: #2b0f54;
            }
        }
    } 




    .navbar{
        .nav-link{
            transition: 0.3s ease;
            &:hover{
                
            }
        }
    }
}