.main-header{
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    background-color: #05f;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: .9;
    > .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .logo {
        align-items: baseline;
        text-decoration: none;
        > h3 {
            color: #fff;
            margin-bottom: 0;
        }
      }

      
}