.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &.container-sm {
    max-width: 768px;
  }
}
.page-header {
  padding: 3rem 0;
  h1.title {
    margin-bottom: 0;
    font-size: 2.33333rem;

    &.project-title {
      font-size: 2.222222rem;
    }
  }
}
p.lead {
  font-size: 18px;
  color: #454546;
}
.categories {
  display: flex;
  span {
    font-size: 14px;
    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}
