
.page-header {
  padding: 3rem 0;
  h1.title {
    margin-bottom: 0;
    &.project-title {
      font-size: 2.222222rem;
    }
  }
}

.categories {
  display: flex;
  span {
    font-size: 14px;
    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}
.btn{
  padding: .59rem 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}