@import "./css/bootstrap.min.css";
@import "css/mixin";
@import "css/layout";
@import "css/grid";
@import "css/header";


$accent: #06f;
* {
  box-sizing: border-box;
}



img {
  max-width: 100%;
  height: auto;
  display: block;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
///////////////// sections ///////////////////
.hero {
  padding: 6rem 1rem 11rem;
  text-align: left;
  .container {
    position: relative;
  }
  .hero-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .social {
    position: absolute;
    bottom: -6rem;
    left: 1rem;
    a:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
.projects {
  padding-top: 3rem;

  .project {
    display: flex;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    position: relative;
    background: #fafaff;
    .project-link{
      display: block;
      width: 100%
    }
    &:hover{
      .thumbnail img{
        transform: scale(1.05);
      }
      .caption{
        transform: translateY(0);
      }
    }
    .thumbnail {
      border: 0;
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%;
      img{
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        transform: scale(1);
        transition: 1s ease;
        width: 100%;
      }
      &::before{
        content: "";
        display: block;
        padding-top: 60%;
      }
    }

    .caption{
      position: absolute;
      left: 0;
      bottom: 0;
      padding: .755rem 1rem;
      background: #fff8;
      right: 0;
      transform: translateY(100%);
      transition: 0.35s ease all;
      backdrop-filter: blur(2px);
      h5 {
        margin-bottom: 0;
      }
    }
  }
  .grid-item-alt:nth-child(4n+2), .grid-item-alt:nth-child(4n+3){
    .project{
      .thumbnail::before{
        padding-top: calc(90% + 8px);

      }
    }
  }
}

.articles {
  padding: 3rem 0;
  margin: 0;
  .article{
    background: #f8f8ff;
    padding: 0 0 1rem;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    transition: 0.45s ease;
    &:hover{
      background: #fafaff;
      box-shadow: 0px 04px 0 #212224;
      .thumb{
        img{
          transform: rotate(1deg);
        }
      }
    }
    .block{
      display: flex;
      width: 100%;
      min-height: 100%;
      flex-direction: column;
      text-decoration: none;
    }
    .thumb{
      display: block;
      overflow: hidden;
      margin-bottom: 1rem;
      max-width: 100%;
      min-height: 210px;
      position: relative;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.3S ease;
        object-fit: cover;
      }

      &::before{
        position: absolute;
        content: '';
        padding-top: 60%;
        display: block;
      }
    }
    .article-title{
      font-size: 14px;
      margin-bottom: 14px;
      padding: 0 .85rem;
    }
    .date{
      padding: 0 .85rem;
      display: flex;
      font-size: 12px;
      color: #878788;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    
    p,.link{
      padding: 0 .75rem;
      font-size: 13px;
      margin-bottom: 1rem;
      flex: auto;
    }
    .link{
      margin-bottom: 0;
    }
  }
  
}

@import './css/art';

.main-footer {
  padding: 4rem 0 1.5rem;
  background: #212529;
  margin-top: 3rem;
  .nes-container {
    .title {
      margin-top: -2.5rem;
      font-size: 1.125rem;
    }
    margin-bottom: 1rem;
  }
  .cont {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .footer-lower {
    color: #fff8;
    position: absolute;
    margin: 0;
    z-index: 13;
    padding: 0.0125rem 0.5rem;
    background: #212529;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.contact-form {
  max-width: 680px;
  margin-bottom: 3rem;
}
