@import "./css/bootstrap.min.css";
@import "css/mixin";
@import "css/layout";
@import "css/grid";
@import "css/header";


$accent: #06f;
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&display=swap");

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Catamaran', sans-serif; 
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
///////////////// sections ///////////////////
.hero {
  padding: 6rem 1rem 11rem;
  text-align: left;
  .container {
    position: relative;
  }
  .hero-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .social {
    position: absolute;
    bottom: -6rem;
    left: 1rem;
    a{
      opacity: .7;
      transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      &:hover{
        opacity: 1;
      }
    }
    a:not(:last-child) {     
      margin-right: 0.75rem;
    }
  }
}

.projects {
  .card{
    border: 0;
    overflow: hidden;
    background: rgba(153, 153, 153, 0.116);
    margin-bottom: 1.25rem;
    &:hover,
    &:focus{
      .card-img{
        img{
          -webkit-transform: translateY(-25px);
          -ms-transform: translateY(-25px);
          transform: translateY(-25px);
        }
        .background-color {
          opacity: 1;
        }
      }
      .card-img-overlay {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        .card-category,
        .card-title{
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
        .card-category{
          letter-spacing: 1px;
        }
      }
    
    }
    .card-img{
      position: relative;
      display: block;
      overflow: hidden;
      &::before {
        padding-top: 85%;
        content: "";
        display: block;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: "object-fit: cover";
        -o-object-fit: cover;
        object-fit: cover;
        will-change: transform;
        -webkit-transition: -webkit-transform .7s cubic-bezier(.2,1,.2,1);
        transition: -webkit-transform .7s cubic-bezier(.2,1,.2,1);
        -o-transition: transform .7s cubic-bezier(.2,1,.2,1);
        transition: transform .7s cubic-bezier(.2,1,.2,1);
        transition: transform .7s cubic-bezier(.2,1,.2,1),-webkit-transform .7s cubic-bezier(.2,1,.2,1);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
      .background-color{
        opacity: 0;
        will-change: opacity;
        -webkit-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .card-img-overlay {
      top: auto;
      background-color: lighten($secondary, 7%);
      will-change: transform;
      -webkit-transition: -webkit-transform .7s cubic-bezier(.2,1,.2,1);
      transition: -webkit-transform .7s cubic-bezier(.2,1,.2,1);
      -o-transition: transform .7s cubic-bezier(.2,1,.2,1);
      transition: transform .7s cubic-bezier(.2,1,.2,1);
      transition: transform .7s cubic-bezier(.2,1,.2,1),-webkit-transform .7s cubic-bezier(.2,1,.2,1);
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1.25rem;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
      z-index: 1;
      pointer-events:  none;
      .card-title{
        -webkit-transition-delay: .1s;
        -o-transition-delay: .1s;
        transition-delay: .1s;
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
        font-weight: 600;
      }
      .card-category{
        -webkit-transition-delay: .15s;
        -o-transition-delay: .15s;
        transition-delay: .15s;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
      }
      .card-title,
      .card-category{
        opacity: 0;
        will-change: transform,opacity;
        -webkit-transition: opacity .25s ease-in-out,-webkit-transform .25s ease-in-out;
        transition: opacity .25s ease-in-out,-webkit-transform .25s ease-in-out;
        -o-transition: transform .25s ease-in-out,opacity .25s ease-in-out;
        transition: transform .25s ease-in-out,opacity .25s ease-in-out;
        transition: transform .25s ease-in-out,opacity .25s ease-in-out,-webkit-transform .25s ease-in-out;
      }

    }
  }
}

.articles {
  margin: 0;
  .card{
    &:hover{
      .card-img{
        img{
          -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
          transform: scale(1.03);
        }
      }
      .btn{
        svg {
          -webkit-transform: translateX(22%);
          -ms-transform: translateX(22%);
           transform: translateX(22%);
           path:last-child {
            -webkit-transform: scaleX(1.53);
            -ms-transform: scaleX(1.53);
            transform: scaleX(1.53);
          }
         }
      }
    }
    .card-img{
      position: relative;
      overflow: hidden;
      &::before{
          padding-top: 69%;
          content: "";
          display: block;
      }
      img{
        will-change: transform;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: "object-fit: cover";
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .card-date{
      position: absolute;
      top: 0;
      left: 0;
      padding: 11px 16px;
      font-size: .875em;
      color: #0e0e0e;
      background-color: #fffe;
    }
    .btn{
      padding-left: 0;
      text-align: left;
      svg{
        transition: 0.3s ease;
        path{
          transition: 0.3s ease;
          transform: scaleX(1);

        }
      }
    }
    .card-title{
      font-weight: 600
    }
  }
}

@import './css/art';

.main-footer {
  padding: 4rem 0 1.5rem;
  background: #212529;
  margin-top: 3rem;
  .cont {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .footer-lower {
    color: #fff8;
    position: absolute;
    margin: 0;
    z-index: 13;
    padding: 0.0125rem 0.5rem;
    background: #212529;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-cta{
    .social{
      display: flex;
      justify-content: center;
      margin-top: 2rem !important;
      margin-bottom: 1rem;
      a{
        display: flex;
        padding: .5rem .575rem;
        border-radius: 50%;
        background-color: rgba(17, 17, 17, 0.034);
        transition: 0.25s ease;
        &:not(:last-child){
          margin-right: 0.5rem;
        }
        svg{
          path{
            fill: #1115;
          }
        }

        &:hover{
          background-color: #1111;
        }
      }
    }
  }
}
.contact-form {
  max-width: 680px;
  margin-bottom: 3rem;
}
